stages:
  - build_package

PackageBuild:
  stage: build_package
  tags:
   - exopublic
  script:
    - python setup.py sdist bdist_wheel
  artifacts:
    untracked: false
    expire_in: never
    paths:
      - "dist/*.tar.gz"
      - "dist/*.whl"
  only:
    - tags