stages:
  - build_win10_whl

Windows 10 Build Wheel:
  stage: build_win10_whl
  tags:
   - win10_build_vm
  script:
    - echo %cd%
    - python setup.py sdist bdist_wheel
    - twine upload --non-interactive -u $WIN10_UPLOAD_USER -p $WIN10_UPLOAD_PASSWORD --repository-url http://192.168.120.41:8080/ dist/*
  artifacts:
    untracked: false
    expire_in: 180 days
    paths:
      - "dist/*.tar.gz"
      - "dist/*.whl"
  only:
    - tags