stages:
  - build

#This builds on exobuild1, ubuntu linux 2004 vm
#doesnt upload for deployment
Build_Wheel_Develop:
  stage: build
  tags:
    - exobuild1
  script:
    - python3 setup.py sdist bdist_wheel
  artifacts:
    untracked: false
    expire_in: 180 days
    paths:
      - "dist/*.tar.gz"
      - "dist/*.whl"

#this will upload on release of a tag
Build_Wheel_Release:
  stage: build
  tags:
    - exobuild1
  script:
    - python3 setup.py sdist bdist_wheel
    - twine upload --non-interactive -u $WIN10_UPLOAD_USER -p $WIN10_UPLOAD_PASSWORD --repository-url http://192.168.120.41:8080/ dist/*
  artifacts:
    untracked: false
    expire_in: 180 days
    paths:
      - "dist/*.tar.gz"
      - "dist/*.whl"
  only:
    - tags

# Windows 10 Build Wheel:
#   stage: build
#   tags:
#    - win10_build_vm
#   script:
#     - echo %cd%
#     - python setup.py sdist bdist_wheel
#     - twine upload --non-interactive -u $WIN10_UPLOAD_USER -p $WIN10_UPLOAD_PASSWORD --repository-url http://192.168.120.41:8080/ dist/*
#   artifacts:
#     untracked: false
#     expire_in: 180 days
#     paths:
#       - "dist/*.tar.gz"
#       - "dist/*.whl"
#   only:
#     - tags